.modal-covers {
  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    object-fit: contain;
  }

  .content {
    &:before {
      display: none;
    }
  }
}