.modal.modal-covers
  ._dialog
    ._content
      .modal-content
        ._swiper-container.swiper-container.slider-modal
          ._swiper-wrapper.swiper-wrapper
            ._swiper-slide.swiper-slide
              ._title Valeriya «No Chance»
              ._descr Single Cover / Russia / Singer            
              .content
                ._close-modal 
                  +svg('arrow', 'content__arrow')
                  | Back to Works
                ._page
                  img(src="img/imgonline.jpg", alt="alt")._img

            ._swiper-slide.swiper-slide
              ._title Valeriya «No Chance»
              ._descr Single Cover / Russia / Singer           
              .content
                ._close-modal 
                  +svg('arrow', 'content__arrow')
                  | Back to Works
                ._page
                  img(src="img/imgonline.jpg", alt="alt")._img
          .navigacion
            .info-prev-slide
              .video-prev-slide &lt;
              .info-slide
                ._text Back project
                ._slide-name DYU
            .swiper-pagination
            .info-next-slide
              .info-slide
                ._text Next project
                ._slide-name EL INICIO
              .video-next-slide &gt;