.nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  &__item {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    line-height: 140px;
    position: relative;

    &:not(:last-child) {
      margin: 0 120px 0 0;
    }

    &:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
    }

    &_active {
      &:before {
        content: '';
        position: absolute;
        bottom: 30px;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
      }
    }
  }

  &__bg-text {
    position: absolute;
    opacity: 0.08;
    color: rgba(255, 255, 255, 0.95);
    font-size: 180px;
    font-weight: 700;
    bottom: -40px;
    left: -16px;
    letter-spacing: -6px;
    z-index: -1;
  }

}