//Gotham light
@font-face {
  font-family: 'Gotham ';
  src: url('../fonts/gotham/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//Gotham regular
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

//Gotham Bold
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//FavoritC Bold
@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/favoritc/FavoritC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//Segoe light
@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}