//Gotham Thin
@font-face {
  font-family: 'Gotham ';
  src: url('../fonts/gotham/Gotham-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

//Gotham rLight
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/GothamLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//Gotham Medium
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/GothamMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//Gotham Book
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/GothamBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

//FavoritC Bold
@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/favoritc/FavoritC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//Segoe light
@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}