@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
  color: $text-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

input {
  outline: none;
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1420px;

  @media (max-width: 1200px) {}

  @media (max-width: 992px) {}

  @media (max-width: 768px) {}

  @media (max-width: 564px) {
    width: 90%;
  }
}

.websites-page {
  background: #000000;
  padding: 215px 0 0 0;
}

.title-request {
  font-family: "FavoritC";
  font-size: 70px;
  font-weight: 700;
  max-width: 635px;
  line-height: 80px;
  width: 100%;
  margin: 0 0 140px 0;


  &_red {
    color: rgba(252, 30, 53, 0.95);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 80px;
  border: none;
  font-size: 22px;
  color: #ffffff;

  &_red {
    background-color: rgba(252, 30, 53, 0.95);
    margin: 60px 0 0 30px;
  }
}

@import "icons";

//common-elements
@import "../elements/common-elements/header/header";
@import "../elements/common-elements/footer/footer";

//main-index
@import "../elements/main-index/main-index";

//websites-page
@import "../elements/list-works/list-works";
@import "../elements/websites-page/websites-list/websites-list";

//lyric-videos-page
@import "../elements/lyric-videos-page/lyric-videos-list/lyric-videos-list";

//album-covers-page
@import "../elements/album-covers/album-list/album-list";

//posters-page
@import "../elements/posters/posters";

//website-request
@import "../elements/form/form";
@import "../elements/website-request/.website-request";

@import "../elements/video-request/video-request";

@import "../elements/cover-request/cover-request";

@import "../elements/show-bill/show-bill";

@import "../elements/another-request/another-request";