.descr-info.section
  ._wrap.wrap
    ._services
      ._title Services
      ._services-list
        ._services-list-item Art Direction
        ._services-list-item Web Design
        ._services-list-item UI/UX
        ._services-list-item Development
      a(href="#", title="title")._link www.valeriya.ru
    ._text Valeriya is Russian singer and fashion model. Valeriya, who is a recipient of the titles People's Artist of Russia (2013) and People's Artist of the Pridnestrovian Moldavian Republic (2016), has also won numerous prestigious awards, including Golden Gramophone (thirteen), Pesnya goda (thirteen), Muz-TV (four: Best Performer in 2004, 2010 and 2015, Best Video, 2014), and MTV Russia Music Awards (two, Best Performer, 2004, Best Song, 2005). She has been a member of the Council for Culture and Art under the President of the Russian Federation since 2012.
      
