.lyric-videos-list {
  &__wrap {
    margin: 50px 0 0 0;
    padding: 0 0 150px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    max-width: 635px;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }

    &:nth-child(even) {
      margin: 130px 0 0 0;
    }
  }

  &__banner {
    max-height: 360px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    margin: 60px 0 0 0;
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    font-weight: 700;
  }

  &__descr {
    color: #a0a0a0;
    font-size: 20px;
    margin: 20px 0 0 0;
  }
}