.lyric-videos-list.section
  ._wrap.wrap
    ._item
      ._banner
        img(src="img/Mask_Group.png", alt="alt")._img
      ._title egor krid & valeriya
      ._descr Lyric Video / Russia / Singer
    ._item
      ._banner
        img(src="img/Bye_Bye_thumbnail.png", alt="alt")._img
      ._title bye bye
      ._descr Social Media Content / Switzerland / Singer
    ._item
      ._banner
        img(src="img/Mask_Group_17.png", alt="alt")._img
      ._title Love & Lover
      ._descr Social Media Content / Russia, USA, Romania / Singers
    ._item
      ._banner
        img(src="img/maxresdefault.png", alt="alt")._img
      ._title Not baby
      ._descr Lyric Video / Russia / Singer
