.modal.modal-video
  ._dialog
    ._content
      .modal-content
        ._swiper-container.swiper-container.slider-modal
          ._swiper-wrapper.swiper-wrapper
            ._swiper-slide.swiper-slide
              ._title egor krid & valeriya
              ._descr Lyric Video / Russia / Singers             
              .content
                ._close-modal 
                  +svg('arrow', 'content__arrow')
                  | Back to Works
                ._container
                  iframe(src="https://www.youtube.com/embed/TUsGX0Fv6xg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)._iframe

            ._swiper-slide.swiper-slide
              ._title egor krid & valeriya
              ._descr Lyric Video / Russia / Singers             
              .content
                ._close-modal 
                  +svg('arrow', 'content__arrow')
                  | Back to Works
                ._container
                  iframe(src="https://www.youtube.com/embed/TUsGX0Fv6xg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)._iframe
          .navigacion
            .info-prev-slide
              .video-prev-slide &lt;
              .info-slide
                ._text Back project
                ._slide-name EGOR KRID
            .swiper-pagination
            .info-next-slide
              .info-slide
                ._text Next project
                ._slide-name LOVE & LOVER
              .video-next-slide &gt;