.list-works.section
  ._wrap.wrap
    nav.nav
      a(href="#", title="title")._item.-active Websites
      a(href="#", title="title")._item Lyric Videos
      a(href="#", title="title")._item Album Covers
      a(href="#", title="title")._item Posters
      ._bg-text Websites