.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  transition: $t-time;
  z-index: 100;

  @media(max-width: 576px) {
    display: none;
  }

  &_deactivate {
    opacity: 0;
  }


  &__wrap {
    flex-direction: row;
    justify-content: center;
  }

  &__copyright {
    font-size: 13px;
    font-weight: 300;
  }
}