.website-list.section
  ._wrap.wrap
    a(href="website-example-page.html", title="title")._item
      ._banner
        img(src="img/valer.png", alt="alt")._img
      ._title Valeriya
      ._descr Website / Russia / Singer
    a(href="website-example-page.html", title="title")._item
      ._banner
        img(src="img/darvol.png", alt="alt")._img
      ._title Darvol
      ._descr Website / Russia / Gemstone Shop
    a(href="website-example-page.html", title="title")._item
      ._banner
        img(src="img/darvol.png", alt="alt")._img
      ._title The Hana Road
      ._descr Website / Russia / Singer
    a(href="website-example-page.html", title="title")._item
      ._banner
        img(src="img/valer.png", alt="alt")._img
      ._title Shena?
      ._descr Website / Russia / Gemstone Shop
