.website-list {
  &__wrap {
    margin: 50px 0 0 0;
    padding: 0 15px 150px 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    @media(max-width: 576px) {
      padding: 0;
    }
  }

  &__item {
    max-width: 550px;
    width: 100%;

    @media(max-width: 1200px) {
      margin: 50px 0 0 0;
    }

    @media(max-width: 992px) {
      margin: 40px 0 0 0;
    }

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }

    &:nth-child(even) {
      margin: 130px 0 0 0;

      @media(max-width: 1200px) {
        margin: 70px 0 0 0;
      }

      @media(max-width: 992px) {
        margin: 40px 0 0 0;
      }

      @media(max-width: 576px) {
        margin: 60px 0 0 0;
      }
    }
  }

  &__banner {
    max-height: 615px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    margin: 60px 0 0 0;
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    font-weight: 700;

    @media(max-width: 1200px) {
      margin: 10px 0 0 0;
      font-size: 33px;
    }

    @media(max-width: 576px) {
      margin: 30px 0 0 0;
      font-size: 22px;
    }
  }

  &__descr {
    color: #a0a0a0;
    font-size: 20px;
    margin: 20px 0 0 0;

    @media(max-width: 1200px) {
      margin: 10px 0 0 0;
    }

    @media(max-width: 576px) {
      font-size: 12px;
    }
  }
}