.posters.section
  ._wrap.wrap
    ._item
      img(src="img/alejandro.png", alt="alt")._img
    ._item
      img(src="img/valeria.png", alt="alt")._img
    ._item
      img(src="img/valeria2.png", alt="alt")._img
