.list-works.-request.section
  ._wrap.wrap
    nav.nav
      a(href="website-request-page.html", title="title")._item Вебсайт
      a(href="video-request-page.html", title="title")._item.-active Лирик&nbsp;видео
      a(href="cover-request-page.html", title="title")._item Обложка
      a(href="show-bill-request-page.html", title="title")._item Афиша
      a(href="another-request-page.html", title="title")._item Другое
      ._bg-text Лирик&nbsp;видео