.website-example-slider {
  padding: 0 0 150px 0;
  position: relative;
  align-items: flex-end;
  flex-direction: column;

  @media(max-width: 1200px) {
    padding: 0 0 50px 0;
  }

  @media(max-width: 576px) {
    padding: 0;
  }

  &__wrap {
    max-width: 1660px;
    width: 100%;
    padding: 0;
  }

  .navigacion {
    max-width: 1600px;
    padding: 0 15px;

    @media(max-width: 1200px) {
      margin: 50px auto 0 auto;
    }
  }
}