.website-example-slider.section
  ._wrap.wrap
    ._swiper-container.swiper-container.example-slider
      ._swiper-wrapper.swiper-wrapper
        ._swiper-slide.swiper-slide          
          ._content
            ._page
              img(src="img/Web-img.png", alt="alt")._img

        ._swiper-slide.swiper-slide          
          ._content
            ._page
              img(src="img/Web-img.png", alt="alt")._img

  .navigacion
    .info-prev-slide
      .video-prev-slide &lt;
      .info-slide
        ._text Back project
        ._slide-name SHENA?
    .swiper-pagination
    .info-next-slide
      .info-slide
        ._text Next project
        ._slide-name DARVOL
      .video-next-slide &gt;