.album-list {
  &__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px 210px 15px;

    @media(max-width: 1319px) {
      justify-content: center;
    }
  }

  &__item {
    margin: 50px 0 0 0;
    max-width: 430px;
    max-height: 430px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    @media(max-width: 1319px) {
      &:nth-child(odd) {
        margin: 50px 30px 0 0;
      }
    }

    @media(max-width: 992px) {
      &:nth-child(odd) {
        margin: 50px 0 0 0;
      }
    }
  }

  &__img {
    object-fit: contain;
  }
}