.album-list.section
  ._wrap.wrap
    ._item(data-modal=".modal-covers")
      img(src="img/El_Inicio.png", alt="alt")._img
    ._item(data-modal=".modal-covers")
      img(src="img/Loco_Enamorado_final.png", alt="alt")._img
    ._item(data-modal=".modal-covers")
      img(src="img/Rudenko.png", alt="alt")._img
    ._item(data-modal=".modal-covers")
      img(src="img/big_mad_concept.png", alt="alt")._img
    ._item(data-modal=".modal-covers")
      img(src="img/final_master.png", alt="alt")._img
    ._item(data-modal=".modal-covers")
      img(src="img/Нет_шанса_08_2.png", alt="alt")._img