.album-list {
  &__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 210px;
    margin: 50px 0 0 0;

    @media(max-width: 1319px) {
      justify-content: center;
    }

    @media(max-width: 576px) {
      padding: 0;
      margin: 15px 0 0 0;
    }
  }

  &__item {
    max-width: 430px;
    max-height: 430px;
    overflow: hidden;

    &:nth-child(n+4) {
      margin: 50px 0 0 0;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    @media(max-width: 1319px) {
      &:nth-child(n+3) {
        margin: 50px 0 0 0;
      }

      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @media(max-width: 992px) {
      &:nth-child(odd) {
        margin-right: 0;
      }

      &:not(:first-child) {
        margin: 70px 0 0 0;
      }
    }
  }

  &__img {
    object-fit: contain;
  }
}