.list-works.section
  ._wrap.wrap
    nav.nav
      a(href="#", title="title")._item Вебсайт
      a(href="#", title="title")._item Лирик видео
      a(href="#", title="title")._item Обложка
      a(href="#", title="title")._item.-active Афиша
      a(href="#", title="title")._item Другое
      ._bg-text Афиша