.form {
  $root: &;

  &__item {
    margin: 110px 0 0 0;

    &:first-child {
      margin: 75px 0 0 0;
    }

    @media(max-width: 1200px) {
      margin: 60px 0 0 0;

      &:first-child {
        margin: 40px 0 0 0;
      }
    }

    @media(max-width: 768px) {
      margin: 30px 0 0 0;

      &:first-child {
        margin: 0;
      }
    }

    @media(max-width: 576px) {
      margin: 70px 0 0 0;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0 0 0;

    @media(max-width: 768px) {
      font-size: 23px;
    }

    @media(max-width: 576px) {
      font-size: 18px;
    }
  }

  &__descr {
    color: rgba(#ffffff, 0.6);
    font-size: 24px;
    padding: 0 0 0 30px;
    margin: 30px 0 0 0;

    @media(max-width: 768px) {
      margin: 10px 0 0 0;
      font-size: 20px;
    }

    @media(max-width: 576px) {
      font-size: 14px;
      padding: 0 0 0 20px;
    }
  }

  &__input {
    height: 60px;
    max-width: 500px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 60px 0 0 30px;
    font-size: 24px;
    color: rgba(#ffffff, 0.4);

    @media(max-width: 768px) {
      margin: 10px 0 0 30px;
      font-size: 20px;
    }

    @media(max-width: 576px) {
      margin: 30px 0 0 20px;
      font-size: 14px;
      width: 270px;
      height: 30px;
    }

    &::placeholder {
      opacity: 0.4;
      color: #ffffff;
      font-family: $base-font;
      font-size: 24px;
      font-weight: 300;
      font-weight: 400;

      @media(max-width: 992px) {
        font-size: 20px;
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  &__choice-option-list {
    margin: 60px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    width: 100%;

    @media(max-width: 768px) {
      margin: 30px 0 0 30px;
    }

    @media(max-width: 576px) {
      font-size: 12px;
      margin: 30px 0 0 20px;
      max-width: 280px;
    }
  }

  &__choice-option-list-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 80px;
    border: 1px solid #ffffff;

    @media(max-width: 576px) {
      width: 139px;
      height: 46px;
    }
  }

  &__choice-option-list-input {
    display: none;

    &:checked {
      +#{$root} {
        &__choice-option-list-label {
          color: #fff;
          background-color: rgba(252, 30, 53, 0.95);
          border: 1px solid rgba(252, 30, 53, 0.95);
        }
      }
    }
  }

  &__text {
    margin: 100px 0 0 0;
    padding: 0 0 0 30px;
    font-size: 22px;

    @media(max-width: 768px) {
      margin: 50px 0 0 0;
    }

    @media(max-width: 576px) {
      margin: 60px 0 0 0;
      padding: 0 0 0 20px;
      font-size: 12px;
      max-width: 270px;
    }
  }

  &__list-files-item {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 60px 0 0 30px;

    #{$root} {
      &__input {
        margin: 0;
      }
    }

    @media(max-width: 576px) {
      margin: 30px 0 0 20px;
      width: 270px;
    }
  }

  &__list-files-item-add {
    position: absolute;
    right: 10px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #ffffff;


    &:hover {
      cursor: pointer;
    }

    @media(max-width: 576px) {
      width: 23px;
      height: 23px;
      font-size: 13px;
      font-weight: 300;
      bottom: 7px;
    }
  }
}