.form {
  $root: &;

  &__item {
    margin: 110px 0 0 0;

    @media(max-width: 1200px) {
      margin: 60px 0 0 0;
    }

    @media(max-width: 768px) {
      margin: 30px 0 0 0;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0 0 0;

    @media(max-width: 768px) {
      font-size: 23px;
    }
  }

  &__descr {
    color: rgba(#ffffff, 0.6);
    font-size: 24px;
    padding: 0 0 0 30px;
    margin: 30px 0 0 0;

    @media(max-width: 768px) {
      margin: 10px 0 0 0;
      font-size: 20px;
    }
  }

  &__input {
    height: 60px;
    max-width: 500px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 60px 0 0 30px;
    font-size: 24px;
    color: rgba(#ffffff, 0.4);

    @media(max-width: 768px) {
      margin: 10px 0 0 30px;
      font-size: 20px;
    }
  }

  &__choice-option-list {
    margin: 60px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    width: 100%;

    @media(max-width: 768px) {
      margin: 30px 0 0 30px;
    }
  }

  &__choice-option-list-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 80px;
    border: 1px solid #ffffff;
  }

  &__choice-option-list-input {
    display: none;

    &:checked {
      +#{$root} {
        &__choice-option-list-label {
          color: #fff;
          background: red;
          border: 1px solid red;
        }
      }
    }
  }

  &__text {
    margin: 100px 0 0 0;
    padding: 0 0 0 30px;
    font-size: 22px;

    @media(max-width: 768px) {
      margin: 50px 0 0 0;
    }
  }

  &__list-files-item {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 60px 0 0 30px;

    #{$root} {
      &__input {
        margin: 0;
      }
    }

  }

  &__list-files-item-add {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #ffffff;

    &:hover {
      cursor: pointer;
    }
  }
}