.list-works.section
  ._wrap.wrap
    nav.nav
      a(href="websites-page.html", title="title")._item Вебсайт
      a(href="lyric-videos-page.html", title="title")._item.-active Лирик&nbsp;видео
      a(href="album-covers-page.html", title="title")._item  Обложка
      a(href="posters-page.html", title="title")._item Афиша
      ._bg-text Лирик&nbsp;видео