.list-works.section
  ._wrap.wrap
    nav.nav
      a(href="#", title="title")._item Websites
      a(href="#", title="title")._item.-active Lyric Videos
      a(href="#", title="title")._item Album Covers
      a(href="#", title="title")._item Posters
      ._bg-text Lyric Videos