.main-index {
  background: url(img/main-index-bg.jpg)no-repeat center/cover;
  height: 100vh;
  padding: 0 0 90px 0;
  $root: &;

  &__wrap {
    //align-items: center;
    justify-content: flex-end;
    //display: none;
    opacity: 0;
    transition: $t-time;

    &_active {
      //display: flex;
      opacity: 1;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__page-list {
    display: flex;
    flex-direction: column;
    max-width: 870px;
  }

  &__page-list-item {
    color: rgba(255, 255, 255, 0.95);
    font-size: 92px;

    &:not(:first-child) {
      margin: 50px 0 0 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;

    &_red {
      color: $color-red;
    }
  }

  &__address-info {
    font-size: 20px;
    line-height: 34px;
    margin: 35px 0 0 0;
  }

  &__connection {
    margin: 130px 0 0 0;
  }

  &__connection-list {
    margin: 35px 0 0 0;
    display: flex;
    flex-direction: column;

  }

  &__connection-list-item {
    font-size: 20px;
    color: #ffffff;

    &:not(:first-child) {
      margin: 30px 0 0 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__social-networks-list {
    margin: 180px 0 0 0;
    max-width: 370px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-networks-list-item {
    color: #bebebe;
    font-size: 14px;
    position: relative;
    padding: 15px 0;

    &:after {
      content: '';
      position: absolute;
      width: 84px;
      height: 1px;
      background-color: #bebebe;
      left: 0;
      bottom: 0;
      transition: $t-time;
    }

    &:hover {
      text-decoration: none;

      &:after {
        width: 65px;
      }
    }
  }
}