.main-index.section
  ._wrap.wrap
    ._info
      nav._page-list
        a(href="#", title="title")._page-list-item О нас
        a(href="websites-page.html", title="title")._page-list-item Работы
        a(href="website-request-page.html", title="title")._page-list-item Отправить запрос
      ._contact-information
        ._address
          ._title.-red We Here
          ._address-info Moscow <br> 7 Ilyinka st., 109012
        ._connection
          ._title.-red Questions?
          ._connection-list
            a(href="mailto:beyond@creative.com", title="mail")._connection-list-item beyond@creative.com
            a(href="tel:+79371409606", title="tel")._connection-list-item  +7 937 140 96 06
    ._social-networks-list 
      a(href="#", title="title")._social-networks-list-item Telegram
      a(href="#", title="title")._social-networks-list-item WhatsApp
      a(href="#", title="title")._social-networks-list-item Instagram