header.header.section
  ._wrap.wrap
    ._info
      ._burger-btn
        span._burger-btn-line
      a(href="index.html", title="title")._logo Beyond Creative
    ._language-list
      a(href="#", title="title")._language-list-item.-active RU
      a(href="#", title="title")._language-list-item EN 