.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 140px;
  $root: &;

  @media(max-width: 1200px) {
    top: 70px;
  }

  @media(max-width: 768px) {
    top: 30px;
  }

  &__wrap {
    max-width: 1600px;
    width: 100%;
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 335px;
    width: 100%;
  }


  &__burger-btn-line {
    width: 56px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    display: block;

    &:before {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background-color: #bebebe;
      bottom: 7px;
      left: 0;
      transition: $t-time;
    }

    &:after {
      content: '';
      position: absolute;
      width: 28px;
      height: 2px;
      background-color: #bebebe;
      top: 7px;
      right: 0;
      transition: $t-time;
    }
  }

  &__burger-btn {
    padding: 10px 0;

    &:hover {
      cursor: pointer;

      /* #{$root} {
        &__burger-btn-line {
          &:before {
            width: 56px;
          }

          &:after {
            width: 56px;
          }
        }
      } */
    }

    &_active {
      #{$root} {
        &__burger-btn-line {
          background: rgba(#ffffff, .0);

          &:after {
            transform: rotate(45deg);
            transform-origin: center;
            top: 0;
            right: 10px;
          }

          &:before {
            transform: rotate(-45deg);
            transform-origin: center;
            bottom: 1px;
            left: 17px;
          }
        }
      }

    }

  }

  &__logo {
    color: #ffffff;
    font-family: "FavoritC";
    font-size: 29px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }

  }

  &__language-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;

  }

  &__language-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(#ffffff, .3);
    border-radius: 50%;
    color: rgba(#ffffff, .3);
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;

    &_active {
      color: #ffffff;
      border: 1px solid #ffffff;
    }

    &:hover {
      text-decoration: none;
    }
  }
}